/* info-act.module.css */

/* Container styles */
.infoActContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  padding: 1rem; /* Adjust padding as needed */
}

/* Header styles */
.infoActTitle {
  color: red;
  font-size: xx-large;
  text-align: center;
  position: relative;
  display: inline-block;
  padding-bottom: 3rem; /* Space between the text and the line */
  padding-top: 2rem; /* Space above the header */
}

/* Section styles */
.infoActSection {
  text-align: left; /* Align text to the left */
  max-width: 800px; /* Constrain the width of the sections */
}
